extends layout 

block content 

    h1 ID: #{bookInstance._id}

    p #[strong Title:] 
      a(href= bookInstance.book.url) #{bookInstance.book.title} 
    
    p #[span Imprint:] #{bookInstance.imprint}

    p #[span Status:]  
      if bookInstance.status== 'Available'
        span.text-success #{bookInstance.status} 
      else if bookInstance.status== 'Maintenance'
        span.text-danger #{bookInstance.status} 
      else 
        span.text-warning #{bookInstance.status} 
    
    if bookInstance.status!= "Available"
      p #[span Due back:] #{bookInstance.due_back_formatted}

    if confirmDelete 
      p Are you sure you want to delete this book instance?
      form(action="", method="POST") 
        button.btn.btn-primary(type="submit") Delete
    else 
      p 
        a(href=bookInstance.url + "/delete") Delete